<html>	 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/foundation.css" />
    <script src="static/js/vendor/modernizr.js"></script>
	<title>{{ escape(page_title) }}</title>
</head>
<body>
	<div id="container">
		<div class="row">
			<div class="large-12 columns">
				<div class="panel radius">
					<header>
						{% block head %}<h1>block head</h1>{% end %}
					</header>
				</div>
			</div>
		</div>

		<div id="main">
			<div id="content">
				{% block body %}{% end %}
			</div>
		</div>
		<footer>
			{% block footer %}{% end %}
		</footer>
	</div>
	</body>
</html>